body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  box-sizing: border-box;
}

p a {
  text-decoration: underline;
  color: #326891;
}

.top-nav {
  background: white;
  z-index: 999;
  width: 100%;
  position: fixed;
  height: 43px;
  border-bottom: 1px solid lightgray;
}

.nav-content {
  height: 43px;
  margin: 0 auto;
  max-width: 1605px;
}

.left {
  position: relative;
  top: 13px;
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
}

.fa-bars {
  margin-right: 18px;
}

.fa-search {
  margin-right: 20px;
}

.center {
  position: fixed;
  top: 1%;
  left: 45%;
}

#nav-logo {
  width: 195px;
  height: 26.48px;
}

.right {
  float: right;
}

.nav-btn {
  margin-top: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  background-color: #6288a5;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  -webkit-letter-spacing: 0.05em;
  -moz-letter-spacing: 0.05em;
  -ms-letter-spacing: 0.05em;
  letter-spacing: 0.05em;
  line-height: 11px;
  padding: 11px 12px 8px;
  text-transform: uppercase;
}

.main-article {
  position: relative;
  top: 60px;
}

.article-info {
  position: relative;
  top: 50px;
}

.headline {
  line-height: 1.1;
  width: 370.672px;
  position: relative;
  left: 32%;
  font-size: 2.35em;
  font-family: 'NYTCheltenham';
  font-style: italic;
  font-weight: 700;
  margin-bottom: 30px;
}

.article-img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 675px;
}

.figure {
  width: 1200px;
}

.article-img-caption {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  color: #666;
  font-size: 1rem;
  margin-top: 10px;
  width: 850px;
  line-height: 1.2;
  margin-left: 350px;
}

.article-details {
  margin-top: 30px;
  width: 630px;
  margin-left: auto;
  margin-right: auto;
}

.author-name {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 20px;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
  color: #000;
}

ul {
  height: 40px;
}

.left-time {
  margin-top: 5px;
  float: left;
}

.time {
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 500;
  color: #666;
  font-size: 0.9rem;
  line-height: 1rem;
  margin-bottom: 1rem;
  margin-bottom: 0;
}

.right-share {
  float: right;
}

.right-share li {
  display: inline;
}

.share-btn {
  display: inline;
}

.share-btn svg {
  margin-left: 5px;
  margin-right: 5px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 50%;
  padding: 5px 6px;
}

.content-wrapper {
  width: 1200px;
  position: relative;
  top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: 0;
  width: 630px;
  margin-left: calc((100% - 630px) / 2);
}

p {
  margin-bottom: 20px;
}

.bold {
  font-weight: 700;
}

.aside-one {
  box-sizing: border-box;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  height: 766px;
}

.aside-content {
  padding-left: 5px;
  margin-top: 50px;
  width: 155px;
  border-left: 1px solid rgb(226, 226, 226);
}

h2 {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'NYTCheltenham';
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 0.9rem;
  width: 100%;
  color: rgb(51, 51, 51);
}

.aside-img {
  width: 155px;
}

/* Special Content */

.content-four {
  margin-top: 80px;
}

.content-four h1 {
  font-family: 'NYTCheltenham';
  font-size: 1.2rem;
  font-weight: 700;
}

.content-four p {
  font-size: 0.9rem;
}

.content-four img {
  width: 100%;
}

.main-content-four {
  position: relative;
  width: 720px;
  margin-left: calc((100% - 720px) / 2);
}

.text-inflation {
  font-family: nyt-franklin,arial,helvetica,sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
  color: #000000;
  width: 173px;
  line-height: 1;
}

.highlight {
  font-size: 0.8rem;
  font-weight: 700;
}

.text-desc1 {
  position: absolute;
  top: 120px;
}

.text-desc2 {
  position: absolute;
  top: 120px;
  left: 180px;
}

.text-desc3 {
  position: absolute;
  top: 120px;
  right: 180px;
}

.text-desc4 {
  position: absolute;
  top: 120px;
  left: 555px;
}

.text-desc5 {
  position: absolute;
  top: 440px;
}

.text-desc6 {
  position: absolute;
  left: 180px;
  top: 440px;
}

.text-desc7 {
  position: absolute;
  right: 180px;
  top: 440px;
}

.text-desc8 {
  position: absolute;
  top: 440px;
  left: 555px;
}

#special-content-footer::before {
  width: 60px;
  content: '';
  display: inline-block;
  height: 1px;
  margin: 0 0 13px;
  background-color: #000;
}

#special-content-footer p {
  margin-bottom: 50px;
  font-size: 0.88rem;
  letter-spacing: 0;
}

.youtube-vid figcaption {
  margin-top: 10px;
  width: 500px;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  color: #666;
  font-size: 16px;
  margin-bottom: 40px;
}

.credit {
  font-size: 0.8rem;
}

.img720 {
  position: relative;
  width: 720px;
  margin-left: calc((100% - 720px) / 2);
}

.img720 img {
  width: 100%;
}

.img720 figcaption {
  margin-top: 10px;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  color: #666;
  font-size: 16px;
  margin-bottom: 40px;
}

#article-footer {
  font-size: 12px;
  color: #999;
  line-height: 0.9rem;
  width: 630px;
  margin-left: calc((100% - 630px) / 2)
}

#share-btn-footer {
  margin-top: 25px;
}

/* After article section */

.after-article {
  position: relative;
  margin-top: 100px;
  height: 1086.25px;
  width: 1145;
  margin-left: calc((100% - 1145px) / 2)
}

.more-heading {
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
  font-size: .86rem;
  line-height: 1.2rem;
  border-top: 1px solid #000;
  width: 100%;
  max-width: 851.25px;
}

.more-article {
  margin-top: 5px;
  width: 272.63px;
  height: 298.75px;
  display: inline-block;
  margin-right: 5px;
}

.more-img img {
  width: 272.63px;
}

.more-credit {
  text-align: right;
  margin-top: 5px;
  font-size: 10px;
  color: #999;
}

.more-text {
  margin-top: 10px;
  width: 262.63px;
  font-family: 'NYTCheltenham';
  font-size: 19px;
  line-height: 22px;
  color: #121212;
}

.more-text .date {
  margin-top: 5px;
  font-size: 13px;
  display: block;
  letter-spacing: .3px;
  color: #999;
}

.aside-more {
  height: 1064.25px;
  width: 263px;
  position: absolute;
  top: 0;
  left: 880px;
}

.trending {
  border-top: 1px solid #000;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
  font-size: .86rem;
  padding: 15px;
}

.trending-list {
  list-style: none;
  border-top: 1px solid #e2e2e2;
  margin-top: 15px;
}

.trending-item {
  border-bottom: 1px solid #e2e2e2;
  padding: 15px 0; 
}

.trending-item a {
  line-height: 1.25rem;
  font-family: nyt-cheltenham,georgia,times new roman,times,serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #121212;
  text-decoration: none;
}

.editor-pick {
  margin-top: 25px;
}

.signup {
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  padding-top: 15px;
  height: 249px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
  max-width: 1145px;
}

.signup-text {
  box-sizing: border-box;
  width: 351.92px;
  height: 228px;
}

.signup-heading {
  color: black;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1625rem;
  margin-bottom: 5px;
}

.subheading {
  color: rgb(102, 102, 102);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.95rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1625rem;
  margin-bottom: 10px;
  margin-left: 0px;
}

.signup-form {
  display: inline-block;
  width: 471.09px;
  height: 228px;
}

input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  display: block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  line-height: 15px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(226, 226, 226);
  border-image: initial;
  border-radius: 4px;
  padding: 4px 4px 4px 8px;
}

input[type="checkbox"] {
  margin-top: 20px;
}

label[for="checkbox"] {
  font-size: 0.75rem;
}

#submit-button:hover {
  background-color: rgb(86, 119, 145);
  color: rgb(255, 255, 255);
}

#submit-button {
  margin-top: 20px;
  color: rgb(98, 136, 165);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  line-height: 13px;
  margin-bottom: 10px;
  text-transform: none;
  width: 100%;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(98, 136, 165);
  border-image: initial;
  border-radius: 4px;
  padding: 10px;
}

.signup-links {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: rgb(102, 102, 102);
  font-size: 0.6em;
  line-height: 2;
}

.footer-container {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 3% 9px;
  height: 500px;
}

.footer-container::before {
  content: "";
  display: block;
  height: 1px;
  margin-top: 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-top: 2px solid rgb(226, 226, 226);
}

.footer-heading {
  margin-top: 10px;
  width: 100%;
  height: 44px;
}

.footer-link a {
  color: rgb(98, 136, 165);
  font-family: nyt-franklin;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
  float:right;
}

.footer-list-container {
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.footer-list {
  box-sizing: border-box;
  flex: 1 1 0%;
  width: 197.33px;
  height: 349px;
}

.list-heading {
  color: rgb(51, 51, 51);
  font-size: 13px;
  font-weight: 700;
  font-family: nyt-franklin;
  height: 25px;
  line-height: 15px;
  text-transform: uppercase;
  width: 150px;
  margin: 0px;
}

.main-list {
  width: 197.33px;
}

.list-item {
  margin-top: 5px;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: nyt-franklin;
  text-transform: capitalize;
  width: 150px;
  font-size: 14px;
  font-weight: 400;
  height: 23px;
  line-height: 16px;
  text-decoration: none;
}

.big-list-items {
  margin-bottom: 5px;
  white-space: nowrap;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: nyt-franklin;
  text-transform: capitalize;
  width: 150px;
  font-size: 16px;
  font-weight: 700;
  height: 25px;
  line-height: 15px;
  padding-bottom: 0px;
  text-decoration: none;
}

.big-list-items svg {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 7px;
  vertical-align: middle;
}

.small-list {
  margin-top: 120px;
}

.small-list-items {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: nyt-franklin;
  text-transform: capitalize;
  width: 150px;
  font-size: 11px;
  font-weight: 500;
  height: 23px;
  line-height: 21px;
  text-decoration: none;
}

#right-list {
  padding-left: 15px;
  border-left: 1px solid rgb(226, 226, 226);
  flex: 1 1 0%;
}


.footer-most-list {
  margin-left: 120px;
}

.footer-most-list li {
  margin-left: 9px;
  margin-right: 9px;
  font-size: 10px;
  display: inline-block;
  color: rgb(153, 153, 153);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  white-space: nowrap;
  padding: 10px 0px;
  text-decoration: none;
}